<!--<h2>{{campos.name | uppercase}} Details</h2> -->

<div class="row mt-3">
	<div class="col">
		<div class="form__group field">
		  <input type="input" class="form__field" [(ngModel)]="campos.name"  name="nome" id='nome' required/>
		  <label for="rg" class="form__label">Nome</label>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<div class="form__group field">
		  <input type="input" class="form__field" [(ngModel)]="campos.email"  name="email" id='email' required/>
		  <label for="email" class="form__label">Email</label>
		</div>
	</div>
</div>	

<div class="row mt-3">
	<div class="col">
	    <div class="form__group field">
		  <input type="input" class="form__field" [(ngModel)]="campos.cpf"  name="cpf" id='cpf' required/>
		  <label for="rg" class="form__label">CPF</label>
		</div>
	</div>
	<div class="col">
		<div class="form__group field">
		  <input type="input" class="form__field" [(ngModel)]="campos.rg" name="rg" id='rg' required/>
		  <label for="rg" class="form__label">RG</label>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<div class="form__group field">
		  <input type="input" class="form__field" [(ngModel)]="campos.nascimento" name="nascimento" id='nascimento' required/>
		  <label for="nascimento" class="form__label">Nascimento</label>
		</div>	
	</div>
</div>

<br/><br/>
<div class="row justify-content-center  mt-6">
	<button type="button" class="botao bt-1">Novo</button>
	<button type="button" class="botao bt-2">Salvar</button>
	<button type="button" class="botao bt-3">Alterar</button>
	<button type="button" class="botao bt-4">Deletar</button>
</div>
<br/>
<div class="table-responsive">
<table class="table tabela">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>